<section id="left_screen">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">


        <div class="section_logo">
          <img class="image_logo" src="assets/images/logo_ascun.jpg" alt="">
        </div>
        <div class="section_presentation">
          <p>{{text1}}</p>
        </div>
        <div class="section_icons">
          <ul class="ulist icons_list">
            <li><img src="assets/images/manitos.svg" alt=""></li>
            <li><img src="assets/images/password.svg" alt=""></li>
            <li><img src="assets/images/repair.svg" alt=""></li>
            <li><img src="assets/images/security.svg" alt=""></li>
          </ul>
        </div>
        <div class="section_parraf">
          <div class="parraf_container">
            {{text2}}
          </div>
        </div>
        <div class="section_list">
          <div class="row">
            <div class="col-md-6">
              <ul class="ulist list_left">

                <li *ngFor="let item of list; let i = index">
                  <ng-container *ngIf="!(i % 2)">
                    <img class="success_icon" src="assets/images/success.svg" alt="success"> <span>{{item}}</span>
                  </ng-container>

                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="ulist list_right">
                <li *ngFor="let item of list; let i = index">
                  <ng-container *ngIf="i % 2">
                    <img class="success_icon" src="assets/images/success.svg" alt="success"> <span>{{item}}</span>
                  </ng-container>
                </li>
              </ul>
            </div>
          </div>
        </div>


      </div>

      <div class="col-md-6">
        <div class="silde">
          <img *ngIf="images.length > 0" [src]="'https://firebasestorage.googleapis.com/v0/b/ascun-dc702.appspot.com/o/slide%2F'+ images[0]+'?alt=media' " alt="">
        </div>
      </div>
    </div>
  </div>
</section>