<section id="left_screen">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">


        <div class="section_logo">
          <img class="image_logo" src="assets/images/logo_ascun.jpg" alt="">
        </div>
        <div class="section_presentation">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit delectus ea voluptate libero, esse dicta
            dolorum porro ab, commodi et eaque eos cumque, quo recusandae totam. Ipsam vel dolorum impedit!</p>
        </div>
        <div class="section_icons">
          <ul class="ulist icons_list">
            <li><img src="assets/images/manitos.svg" alt=""></li>
            <li><img src="assets/images/password.svg" alt=""></li>
            <li><img src="assets/images/repair.svg" alt=""></li>
            <li><img src="assets/images/security.svg" alt=""></li>
          </ul>
        </div>
        <div class="section_parraf">
          <div class="parraf_container">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi possimus excepturi dolorem veniam
            reprehenderit!
          </div>
        </div>
        <div class="section_list">
          <div class="row">
            <div class="col-md-6">
              <ul class="ulist list_left">
                <li><img class="success_icon" src="assets/images/success.svg" alt="success"> <span>Texto 1</span></li>
                <li><img class="success_icon" src="assets/images/success.svg" alt="success"> <span>Texto 2</span></li>
                <li><img class="success_icon" src="assets/images/success.svg" alt="success"> <span>Texto 3</span></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="ulist list_right">
                <li><img class="success_icon" src="assets/images/success.svg" alt="success"> <span>Texto 1</span></li>
                <li><img class="success_icon" src="assets/images/success.svg" alt="success"> <span>Texto 2</span></li>
                <li><img class="success_icon" src="assets/images/success.svg" alt="success"> <span>Texto 3</span></li>
              </ul>
            </div>
          </div>
        </div>


      </div>

      <div class="col-md-6">
        <div class="silde">
          <img src="assets/images/slide/image1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>